<style type="text/css">
  #divA {
    padding-top: 20px;
  }
  #divB {
    padding-top: 20px;
    padding-bottom: 40px;
  }
</style>

<div>
  <%= form_for(@modulo) do |f| %>
    <% if @modulo.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4>Attenzione: <%= @modulo.errors.count%> errore/i presente/i.</h4>
      <h4>Occorre correggere i seguenti campi:</h4>

        <ul>
        <% @modulo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="divA">
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :nome %><br>
          <%= f.text_field :nome,class:"form-control",placeholder:"Nome"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :cognome %><br>
          <%= f.text_field :cognome,class:"form-control",placeholder:"Cognome"%>
          &nbsp;
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :anno_di_laurea %><br>
          <%= f.text_field :annolaurea,class:"form-control",placeholder:"e.g. 01/01/1990"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :titolo_di_studio %><br>
          <%= f.radio_button :titolostudio, "Ingegnere" %> Ingegnere &nbsp;
          <%= f.radio_button :titolostudio, "Architetto" %> Architetto
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :data_di_nascita %><br>
          <%= f.text_field :datanascita,class:"form-control",placeholder:"e.g. 01/01/1990"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :luogo %><br>
          <%= f.text_field :luogo,class:"form-control",placeholder:"Luogo di Nascita"%>
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :indirizzo %><br>
          <%= f.text_field :indirizzo,class:"form-control",placeholder:"Indirizzo"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :cap %><br>
          <%= f.text_field :cap,class:"form-control",placeholder:"CAP"%>
          &nbsp;
        </div>
      </div>
      <div class="row">
        <p align="center">Inserire almeno un campo tra Telefono e Cellulare</p>
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :cellulare %><br>
          <%= f.text_field :cellulare,class:"form-control",placeholder:"Cellulare"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :telefono %><br>
          <%= f.text_field :telefono,class:"form-control",placeholder:"Telefono"%>
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :citta %><br>
          <%= f.text_field :citta,class:"form-control",placeholder:"Citta'"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :email %><br>
          <%= f.text_field :email,class:"form-control",placeholder:"E-Mail"%>
          &nbsp;
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :assemblea %><br>
          <%= f.radio_button :assemblea, "Si" %> Si &nbsp;
          <%= f.radio_button :assemblea, "No" %> No
        </div>
        <div class="col-md-4">
          <%= f.label :cerimonia %><br>
          <%= f.radio_button :cerimonia, "Si" %> Si &nbsp;
          <%= f.radio_button :cerimonia, "No" %> No
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :numero_accompagnatori %> (Max 3 Accompagnatori)<br>
          <%= f.text_field :accompagnatori,class:"form-control",placeholder:"Numero Accompagnatori"%>
        </div>
        <div class="col-md-4">
          <%= f.label :numero_persone_per_cena %><br>
          <%= f.text_field :cena,class:"form-control",placeholder:"Numero Persone per Cena"%>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :visita_incubatore_i3p %><br>
          <%= f.text_field :i3p,class:"form-control",placeholder:"Numero Persone per visita Incubatore I3P"%>
        </div>
      </div>
      <br><br>
      <div class="col-md-8 col-md-offset-2">
      <div>
          <div>
              <h5 class="serif" align="justify">Il <b>pagamento</b> relativo al ritiro della pergamena e per la partecipazione alla cena,
                <b>deve</b> essere effettuato sul seguente conto corrente:</h5>
              <h5 class="serif" align="justify"><b>N.B.</b><br>Per il ritiro della Pergamena e per l'iscrizione all'Associazione Alumni Polito valevole fino al 31/12/2016,
                 è obbligatorio versare la quota di <b>€50.00</b></h5>
              <h5 class="serif" align="justify"><b>N.B.</b><br>Per la partecipazione alla cena occorre versare la quota di <b>€50.00</b> a persona</h5>
          </div>
          <br>
          <div>
            <h5 class="serif" align="justify">IBAN: <b>IT 77 f 02008 01160 00000 2011125</b></h5>
            <h5 class="serif" align="justify">Intestato a: <b>ASSOCIAZIONE ING.ARCH EX ALLIEVI POLITECNICO DI TORINO</b></h5>
            <br>
            <h5 class="serif" align="justify"><b>N.B.</b><br> La copia dell'avvenuto pagamento <b>deve</b> essere necessariamente inviata alla seguente E-Mail:
            <b>segreteria.alumni@polito.it</b></h5>
          </div>
      </div>
    </div>




        <div class="row" id="divB" style="text-align:center">
          <div class="col-md-8 col-md-offset-2">
            <div id="divB">
              <%= f.submit "Invia Modulo",:class => "btn btn-default" %>
            </div>
          </div>
        </div>

  <% end %>
</div>
