<style type="text/css">
  #divA {
    padding-top: 20px;
  }
  #divB {
    padding-top: 20px;
    padding-bottom: 40px;
  }
</style>

<div>
  <%= form_for(@modulo) do |f| %>
    <% if @modulo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@modulo.errors.count, "error") %> prohibited this modulo from being saved:</h2>

        <ul>
        <% @modulo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="divA">
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :nome %><br>
          <%= f.text_field :nome,class:"form-control",placeholder:"Nome"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :cognome %><br>
          <%= f.text_field :cognome,class:"form-control",placeholder:"Cognome"%>
          &nbsp;
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :anno_di_laurea %><br>
          <%= f.text_field :annolaurea,class:"form-control",placeholder:"e.g. 01/01/1990"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :titolo_di_studio %><br>
          <%= f.radio_button :titolostudio, "Ingegnere" %> Ingegnere &nbsp;
          <%= f.radio_button :titolostudio, "Architetto" %> Architetto
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :data_di_nascita %><br>
          <%= f.text_field :datanascita,class:"form-control",placeholder:"e.g. 01/01/1990"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :luogo %><br>
          <%= f.text_field :luogo,class:"form-control",placeholder:"Luogo di Nascita"%>
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :indirizzo %><br>
          <%= f.text_field :indirizzo,class:"form-control",placeholder:"Indirizzo"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :cap %><br>
          <%= f.text_field :cap,class:"form-control",placeholder:"CAP"%>
          &nbsp;
        </div>
      </div>
      <div class="row">
        <p align="center">Inserire almeno un campo tra Telefono e Cellulare</p>
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :cellulare %><br>
          <%= f.text_field :cellulare,class:"form-control",placeholder:"Cellulare"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :telefono %><br>
          <%= f.text_field :telefono,class:"form-control",placeholder:"Telefono"%>
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= f.label :citta %><br>
          <%= f.text_field :citta,class:"form-control",placeholder:"Citta'"%>
          &nbsp;
        </div>
        <div class="col-md-4">
          <%= f.label :email %><br>
          <%= f.text_field :email,class:"form-control",placeholder:"E-Mail"%>
          &nbsp;
        </div>
      </div>
        <div class="row" id="divB" style="text-align:center">
          <div class="col-md-8 col-md-offset-2">
            <div id="divB">
              <%= f.submit "Invia Modulo",:class => "btn btn-primary" %>
            </div>
          </div>
        </div>

  <% end %>
</div>
