<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @modulo.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @modulo.cognome %>
</p>

<p>
  <strong>Annolaurea:</strong>
  <%= @modulo.annolaurea %>
</p>

<p>
  <strong>Datanascita:</strong>
  <%= @modulo.datanascita %>
</p>

<p>
  <strong>Luogo:</strong>
  <%= @modulo.luogo %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @modulo.indirizzo %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @modulo.cap %>
</p>

<p>
  <strong>Citta:</strong>
  <%= @modulo.citta %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @modulo.telefono %>
</p>

<p>
  <strong>Cellulare:</strong>
  <%= @modulo.cellulare %>
</p>

<p>
  <strong>Email:</strong>
  <%= @modulo.email %>
</p>

<%= link_to 'Edit', edit_modulo_path(@modulo) %> |
<%= link_to 'Back', modulos_path %>
