<h2>AlumniPolito</h2>

<p>
L'utente <b><%= @modulo.nome %> <%= @modulo.cognome %></b> ha compilato il modulo con i seguenti dati.
</p>

<p>
<b>Nome:</b> <%= @modulo.nome %>
<br>
<b>Cognome:</b> <%= @modulo.cognome %>
<br>
<% if !@modulo.titolostudio.blank? %>
<b>Titolo di Studio:</b> <%= @modulo.titolostudio %>
<% end %>
<br>
<b>Anno di Laurea:</b> <%= @modulo.annolaurea %>
<br>
<b>Data di Nascita:</b> <%= @modulo.datanascita %>
<br>
<b>Luogo di Nascita:</b> <%= @modulo.luogo %>
<br>
<b>Indirizzo:</b> <%= @modulo.indirizzo %>
<br>
<b>CAP:</b> <%= @modulo.cap %>
<br>
<b>Citta':</b> <%= @modulo.citta %>
<br>
<b>Telefono:</b> <%= @modulo.telefono %>
<br>
<b>Cellulare:</b> <%= @modulo.cellulare %>
<br>
<b>Email:</b> <%= @modulo.email %>
<br>
<b>Partecipazione Assemblea:</b> <%= @modulo.assemblea %>
<br>
<b>Partecipazione cerimonia:</b> <%= @modulo.cerimonia %>
<br>
<b>Numero Accompagnatori:</b> <%= @modulo.accompagnatori %>
<br>
<b>Numero Persone Cena:</b> <%= @modulo.cena %>
<br>
<b>Numero Persone Visita Incubatore I3P:</b> <%= @modulo.i3p %>
</p>

<p>
  <%= @greeting %>
</p>
